
/* Global Container */

.container {
    margin-top: 2vh;
}


/* Global Calendar */

#calendar {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: rgb(85, 153, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(15, 15, 15);
  }


/* .fc .fc-prevMonth-button,
.fc .fc-nextMonth-button {

}

.fc .fc-today-button {

}

.fc .fc-month-button {

}

.fc .fc-listYear-button {

} */


/* Global View */

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
